<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SupLink</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>PageNotFoundException</exception-type>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <display-name>AuthenticateFilter</display-name>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>com.supinfo.suplink.servlet.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
	      com.supinfo.suplink.listener.PersistenceAppListener
 	   </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/auth/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectionServlet</display-name>
    <servlet-name>RedirectionServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.RedirectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectionServlet</servlet-name>
    <url-pattern>/l/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnableServlet</display-name>
    <servlet-name>EnableServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.EnableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableServlet</servlet-name>
    <url-pattern>/auth/enable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotFoundServlet</display-name>
    <servlet-name>NotFoundServlet</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.NotFoundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotFoundServlet</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveLink</display-name>
    <servlet-name>RemoveLink</servlet-name>
    <servlet-class>com.supinfo.suplink.servlet.RemoveLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveLink</servlet-name>
    <url-pattern>/auth/removelink</url-pattern>
  </servlet-mapping>
</web-app>